*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
.img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,
body{
	height: 100%;
	line-height: 1;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: rgb(37, 37, 55);
    font-family: 'Motserrat', sans-serif;
}


.container{
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header{
    overflow: hidden;
    height: 100vh;
}

.header__head{
    position: fixed;
    background-color: #191819;
    z-index: 4;
    width: 100%;
}

.head__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}



.head__inner nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.head__inner nav ul li{
    list-style-type: none;
    justify-content: flex-end;
	padding: 0px 10px 0px 0px;
}

.head__inner nav ul li a{
    font-size: 14px;
    color: #ccc;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.header__body{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 150px;
}

.header__body-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__body-inner .left .title{
    color: rgb(228, 219, 219);
    font-size: 46px;
    transition: all .5 ease;
    padding-left: 150px;
}

.header__body-inner .left .title span{
    color: #f55742
}

a.btn{
    display: inline-block;
    background-color: #f83b3a;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 5px;
}

.header__body-inner .right img{
    border-radius: 50%;
    margin-right: 150px;
}


section{
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 100vh;
    padding-left: 150px;
}

.projects__title{
    font-size: 32px;
    color: rgb(228, 219, 219);
}

.projects__text{
    font-size: 60px;
    padding-top: 300px;
    padding-left: 388px;
    color: rgb(228, 219, 219);;
}

hr{
    border: none;
    background-color: rgb(35, 33, 33);   
    color: rgb(35, 33, 33); 
    height: 2px; 
}

.preloader-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 550px;
    padding-top: 40px;;
}

.preloader{
    width: 100px;
    height: 100px;
    border-radius: 10em;
    border: 12px solid #ccc;
    border-top: 12px solid tomato;
    animation: preloaderAnimation 2s linear infinite;

}

@keyframes preloaderAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

